/* Default Styling */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andada Pro', serif;
}
header {
    background:url('./images/home.jpg');
    color: white;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    color: #f2aa4cff;
    transition: .4s ease-in-out;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 20px;
}


.logo {
    margin-left: 20px;
    color: #f2aa4cff;
}
.logo i {
    display: block;
    margin-left: 60px;
   

}
header ul {
    display: flex;
    align-items: center;
}
header ul li {
    list-style-type: none;
    margin-right: 30px;
}
.main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 80px;
}
.main h1 span {
    color: #f2aa4cff;
}
.main p {
    margin-top:25px;
}
.btn {
    background: #f2aa4cff;
    color: black;
    font-weight: 500;
    border-radius: 14px;
    padding: 10px 20px;
    text-decoration: none;
   
}
.btn:hover {
    color:#f2aa4cff;
    background-color: black;
    transition: .4s ease-in-out;
}
.btn-special {
    margin-top: 20px;
}

